*{
padding: 0;
margin: 0;
}


 nav {
     background: #002651;
     padding: 0px;
     display: flex;
     justify-content: space-around;
 }
.nav-enlace {
    display: inline-block;
    background: #002651;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
}


.nav-enlace:hover {
    background: #FF304F;
}

.nav-boton {
    display: none;
}

@media (max-width: 600px) {

    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px 0px;
    }

    .nav-boton {
        display: inline-block;
        background: #002651;
        color: #fff;
        padding: 15px 0;
        border: 2px solid #fff;
    }

    .desaparece {
        display: none;
    }
}