@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}
.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center
}

.columna {
    background: #DBDBEB;
    color: #333;
    width: 23%;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px #888888;
}

.precio {
    font-size: 50px;
    color: #FF6D02;
}

.btnPrecio {
    background: #080957; 
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #DBDBEB;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btnPrecio:hover {
    background: #7577CD;
}

@media (max-width: 1070px) {

    .columna {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    .columna {
        width: 90%;
        margin-bottom: 20px;
    }
}