/* Vamos a ver múltiples tipos de caja para que te vayas familiarizando con este modelo de diseño */

/* El tamaño de la caja sale de la suma de su padding, border y margin */

/* Tarea: sacar el valor de ancho y alto de cada caja */
body{
    margin: 0;
    padding: 0;
}
.caja1 {
    margin: 20px;
    border: 5px solid #252a34;
    padding: 100px;
    background: #6a2c70;
    color: #eaeaea;
}

.caja2 {
    margin: 20px;
    border: 12px dashed #3490de;
    padding: 70px;
    background: #6639a6;
    color: #521262;
}

.caja3 {
    margin: 20px;
    border: 0px solid #ea5455;
    padding: 20px;
    background: #f07b3f;
    color: #ffd460;
}